.card-component {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-margin {
    margin: 2rem;
  }
  .card-horizontal {
    display: flex;
    flex-direction: row;
    width: 55rem;
    max-height: 31rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .card-data {
    width: 40rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .img-horizontal {
    width: 20rem;
    height: auto;
    margin-right: 2rem;
    margin-left: 5px;
    border-radius: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .card-title {
    font-size: 3rem;
    margin: 0.4rem;
  }
  .original-price {
    font-size: 2rem;
  }
  .price {
    font-size: 2rem;
  }
  .discount-price {
    font-size: 2rem;
  }
  .btn-container-horizontal {
    margin-left: -3px;
    margin: 5px;
  }
  .card-content {
    font-size: 2rem;
    margin-left: 8px;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
  }