.card-exit {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.exit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  margin-right: 0.5rem;
  border: none;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}
.cross-image {
  max-height: 30rem;
  object-fit: fill;
}
.exit-button:hover {
  background: cadetblue;
}
.card-img img {
  width: 100%;
  height: 30rem;
}
.cart-button {
  padding: 0.8rem;
  border: none;
  outline: none;
  background: black;
  color: cornsilk;
}

.card-content p {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.cart {
  margin: 1rem;
  padding: 1rem;
}

.card-body,
.price,
.original-price,
.discount-price {
  font-size: 1.8rem;
}

.card-body,
.original-price,
.discount-price,
.price {
  font-size: 2rem;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
}
